<div class="reminder-experiences">

  <h1>Experiences</h1>

  <div class="separator"></div>

  <div class="reminder-item experience">
    <div class="checkbox"></div>
    <div class="info">
      <p class="date">2018 - Today</p>
      <img class="company-logo" src="assets/safran.png" alt="Safran SA"/>
      <p>Apprentice working as a cyber-security analyst and threat intelligence engineer.</p>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/computer.png"/> Focus on Windows environment security</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/virus.png"/> Malware analysis</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/disc.png"/> Working on Linux VMs</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/network.png"/> Understand and manipulate complex corporate networks</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="reminder-item experience">
    <div class="checkbox"></div>
    <div class="info">
      <p class="date">June 2018 - August 2018</p>
      <img class="company-logo" src="assets/magic-recycle.jpg" alt="Magic Recycle"/>
      <p>Internship as a web developer.</p>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/computer.png"/> Build an entire internal website from scratch</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/network.png"/> Advised on a complete network restructuration for security and efficiency</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/hammer.png"/> Helped to improve a mobile device automated testing software</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="reminder-item experience">
    <div class="checkbox"></div>
    <div class="info">
      <p class="date">June 2017 - August 2017</p>
      <img class="company-logo" src="assets/safran.png" alt="Safran SA"/>
      <p>Internship in the Active Directory team.</p>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/computer.png"/> Focus on Windows environment architecture</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/network.png"/> Learn about Active Directory and its implementation in a
          huge corporate environment</p>
      </div>
    </div>
  </div>

</div>
