
.project {
  width: 60%;
  margin: 10% auto 0;

  .infos {

    .title {
      display: flex;
      align-items: center;

      a {
        font-size: 0.8rem;
        color: #aaa;
        text-decoration: none;
      }

      .slash {
        color: #CCC;
        padding: 0 8px;
      }

      h2 {
        font-size: 2rem;
      }

      p {
        line-height: 1.8;
      }
    }

    .visit {
      border-radius: 6px;
      padding: 12px 24px;
      border: 1px solid rgb(19, 99, 223);
      color: rgb(19, 99, 223);
      font-size: 0.7rem;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: bold;
      transition: 0.3s;
    }

    .visit:hover {
      background-color: rgb(19, 99, 223);
      color: white;
      box-shadow: rgba(19, 99, 223, 0.3) 0 4px 20px 0;
      transition: 0.3s;
    }
  }
}

@media only screen and (max-width: 700px) {
  .project {
    width: 80%;
  }
}
