section {
  margin: 64px 0;

  .title {
    display: flex;
    align-items: center;
    gap: 8px;

    ion-icon {
      font-size: 32px;
      --ionicon-stroke-width: 42px;
    }

    h2 {
      font-size: 32px;
    }
  }
}

.row {
  .about-me {
    p {
      margin: 16px 0 0;
      letter-spacing: -0.2px;
      line-height: 1.5rem;
    }

    .skills {
      overflow: hidden;

      &__title {
        position: relative;
        z-index: 3;
      }

      &__list {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        white-space: nowrap;
        padding: 32px 0;

        animation: scroll 60s linear infinite;
        will-change: transform;

        &-container {
          position: relative;
          width: 100%;
          margin: -16px 0;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 100%;
            background-image: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0));
            z-index: 2;
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 32px;
            height: 100%;
            background-image: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0));
            z-index: 2;
          }
        }

        .skill {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          height: 32px;
          border-radius: 16px;
          background-color: #fff;
          color: #444;
          padding: 0 8px;
          box-shadow: rgba(149, 157, 165, 0.2) 0 4px 8px;

          img {
            display: block;
            width: 18px;
            height: 18px;
            object-fit: contain;
            border-radius: 4px;
          }

          p {
            margin: 0;
            font-size: 13px;
          }
        }
      }

      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-1 * var(--scroll-width)));
        }
      }
    }
  }

  .tile {
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: #444;

    h3 {
      margin: 0;
      font-size: 22px;
    }

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 2;

      .time {
        position: relative;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: fit-content;
        padding: 8px;
        color: #fff;
        background-color: #444444;
        margin-top: 8px;
        font-size: 12px;
        z-index: 2;

        .online {
          position: relative;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: rgb(56, 176, 0);

          &:after {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgba(56, 176, 0, 0.6);
            animation: online-pulse 2s infinite;
          }

          &--soon {
            background-color: rgb(255, 127, 0);

            &:after {
              display: none;
            }
          }

          &--offline {
            background-color: rgb(166, 0, 0);

            &:after {
              display: none;
            }
          }
        }

        @keyframes online-pulse {
          0% {
            width: 8px;
            height: 8px;
            opacity: 0.8;
          }
          100% {
            width: 20px;
            height: 20px;
            opacity: 0;
          }
        }

        p {
          margin: 0;
        }
      }

      .tags {
        color: #888;
        font-size: 13px;
      }
    }

    .logo {
      position: absolute;
      bottom: 8px;
      right: 8px;
      width: 42px;
      height: 42px;
      border-radius: 8px;
      overflow: hidden;
      border: 2px solid #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      z-index: 3;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--location {
      padding: 0;

      @media only screen and (max-width: 620px) {
        aspect-ratio: 1;
      }

      .map {
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 8px;
        overflow: hidden;

        &__location {
          position: relative;
          z-index: 2;
          display: flex;
          align-items: center;
          gap: 8px;
          width: fit-content;
          padding: 8px;
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 8px;
          backdrop-filter: blur(4px);

          ion-icon {
            font-size: 18px;
          }

          p {
            margin: 0;
          }
        }

        &__next {
          position: absolute;
          bottom: -38px;
          right: 8px;
          z-index: 2;
          display: flex;
          align-items: center;
          gap: 8px;
          width: fit-content;
          padding: 8px;
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 8px;
          backdrop-filter: blur(4px);
          transition: 0.1s;

          ion-icon {
            font-size: 12px;
          }

          p {
            margin: 0;
            font-size: 11px;
          }
        }

        &:hover {
          .map__next {
            bottom: 8px;
          }
        }

        &__image {
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          width: 100%;
          height: 100%;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            z-index: 1;
          }
        }

        .pin {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 4px solid #FFF;
          background-color: dodgerblue;
          box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
          z-index: 2;

          &__shadow {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: dodgerblue;
            border-radius: 50%;
            z-index: 1;
            animation: pulse 2s infinite;

            @keyframes pulse {
              0% {
                width: 24px;
                height: 24px;
                opacity: 0.8;
              }
              100% {
                width: 64px;
                height: 64px;
                opacity: 0;
              }
            }
          }
        }
      }
    }

    &--balthasart {
      position: relative;
      overflow: hidden;
      aspect-ratio: auto;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300%;
        height: 300%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0) 80%, rgba(239, 150, 133, 0.3) 100%);
        z-index: 1;
      }
    }

    &--rise-up {
      position: relative;
      overflow: hidden;
      aspect-ratio: auto;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300%;
        height: 300%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0) 80%, rgba(151, 116, 159, 0.3) 100%);
        z-index: 1;
      }
    }

    &--wavestone {
      position: relative;
      overflow: hidden;
      aspect-ratio: auto;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300%;
        height: 300%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0) 80%, rgba(69, 29, 199, 0.2) 100%);
        z-index: 1;
      }
    }

    &--shutterflow {
      .mockup {
        width: 100%;
        aspect-ratio: 2/1;
        overflow: hidden;
        margin-top: -32px;

        img {
          display: block;
          width: 80%;
          object-fit: cover;
          object-position: top center;
          transition: 0.1s ease-in-out;
          margin: 0 auto;
        }
      }

      &:hover {
        .mockup {
          img {
            margin-top: -16px;
          }
        }
      }
    }

    &--drive-league {
      .mockup {
        width: 100%;
        aspect-ratio: 3/2;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          width: 100%;
          transition: 0.1s ease-in-out;
          transform: scale(1.2);
          margin: 0 auto;
        }
      }

      &:hover {
        .mockup {
          img {
            transform: rotate(-5deg) scale(1.2);
          }
        }
      }
    }

    &--slotmate {
      color: #444;
      text-decoration: none;

      .mockup {
        width: 100%;
        aspect-ratio: 1;
        overflow: hidden;
        margin-bottom: -14px;
        padding-top: 8px;

        img {
          display: block;
          width: 100%;
          object-fit: cover;
          object-position: top center;
          transform: scale(1.2);
          transition: 0.1s ease-in-out;
        }
      }

      &:hover {
        .mockup {
          img {
            margin-top: -12px;
          }
        }
      }
    }

    &--myfeedbacks {
      color: #444;
      text-decoration: none;

      .open {
        position: absolute;
        top: -12px;
        right: -6px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.1s ease-in-out;

        ion-icon {
          font-size: 20px;
          color: #AAA;
        }
      }

      .mockup {
        width: 100%;
        overflow: hidden;
        margin-bottom: -14px;
        margin-left: -14px;
        padding-top: 8px;

        img {
          display: block;
          width: 130%;
          object-fit: cover;
          object-position: top center;
          transform: scale(1.2);
          transition: 0.1s ease-in-out;
          margin-left: -35%;
        }
      }

      &:hover {
        .open {
          top: -6px;
          opacity: 1;
        }

        .mockup {
          img {
            margin-left: calc(-35% + 8px);
          }
        }
      }
    }

    &--rentilyio {
      color: #444;
      text-decoration: none;

      .open {
        position: absolute;
        top: -12px;
        right: -6px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.1s ease-in-out;

        ion-icon {
          font-size: 20px;
          color: #AAA;
        }
      }

      .mockup {
        width: 100%;
        overflow: hidden;
        margin-bottom: -14px;
        margin-left: 14px;
        padding-top: 8px;

        img {
          display: block;
          width: 120%;
          object-fit: cover;
          object-position: top center;
          transform: scale(1.2);
          transition: 0.1s ease-in-out;
        }
      }

      &:hover {
        .open {
          top: -6px;
          opacity: 1;
        }

        .mockup {
          img {
            margin-left: -8px;
          }
        }
      }
    }

    &--strava {
      position: relative;
      background-color: white;
      overflow: hidden;
      transition: 0.1s;
      text-decoration: none;
      color: #444;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300%;
        height: 300%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0) 80%, rgba(252, 76, 2, 0.6) 100%);
        z-index: 1;
      }

      .stat {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 16px;
        z-index: 2;

        p {
          margin: 0;
        }

        .value {
          color: #fc4c02;
          font-size: 32px;
          font-weight: bold;
          margin: 0;
        }

        .label {
          margin: 0;
        }
      }

      &:hover {
        cursor: pointer;
        transform: rotate(2deg) scale(1.04);
        border: 3px solid #ff8754;
      }
    }

    &--surf {
      position: relative;
      padding: 0;

      img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 8px;
        z-index: 1;
      }

      &-overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        border-radius: 8px;
        z-index: 2;
      }

      &-content {
        position: relative;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        padding: 16px;
        z-index: 3;
        box-sizing: border-box;

        h3 {
          margin: 0;
          font-size: 22px;
        }
      }
    }

    &--music {
      .tile__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .btn {
          background-color: rgb(27, 181, 82);
          color: #fff;
          border-color: rgb(27, 181, 82);
        }
      }
    }

    &--motorsport {
      color: #444;
      text-decoration: none;
      transition: 0.1s ease-in-out;
      overflow: hidden;

      .car {
        position: relative;
        width: 100%;
        margin-bottom: -16px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0));
        }

        img {
          width: 100%;
        }
      }

      &:hover {
        border: 3px solid #444;
        transform: rotate(-2deg);
      }
    }

    &--socials {
      display: flex;
      justify-content: center;
      align-items: center;

      .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;

        a {
          color: #444;
          text-decoration: none;
          transition: 0.1s ease-in-out;

          ion-icon {
            font-size: 42px;
            --ionicon-stroke-width: 42px;
          }

          &:hover {
            transform: rotate(-2deg) scale(1.2);
          }
        }
      }
    }

    &--open {
      .open {
        position: absolute;
        top: -12px;
        right: -6px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.1s ease-in-out;

        ion-icon {
          font-size: 20px;
          color: #AAA;
        }
      }

      &:hover {
        .open {
          top: -6px;
          opacity: 1;
        }
      }
    }
  }
}
