<div class="row">
  <div class="about-me tile row-2">
    <h3>Passionate Software Engineer</h3>
    <p>
      I have been building web apps, product and digital experiences for nearly 15 years now, with a strong belief in
      quality, fun and delightful experiences.
    </p>

    <div class="skills">
      <p class="skills__title">My daily tools include:</p>
      <div class="skills__list-container">
        <div class="skills__list" #skillsList>
          <div class="skill">
            <img src="assets/angular.png" alt="Angular"/>
            <p>Angular</p>
          </div>
          <div class="skill">
            <img src="assets/symfony.png" alt="Symfony"/>
            <p>Symfony</p>
          </div>
          <div class="skill">
            <img src="assets/php.png" alt="PHP"/>
            <p>PHP</p>
          </div>
          <div class="skill">
            <img src="assets/github.png" alt="Github"/>
            <p>Github</p>
          </div>
          <div class="skill">
            <img src="assets/docker.webp" alt="Docker"/>
            <p>Docker</p>
          </div>
          <div class="skill">
            <img src="assets/python.png" alt="Python"/>
            <p>Python</p>
          </div>
          <div class="skill">
            <img src="assets/mysql.png" alt="MySQL"/>
            <p>MySQL</p>
          </div>
          <div class="skill">
            <img src="assets/gitlab.svg" alt="Gitlab"/>
            <p>Gitlab</p>
          </div>
          <div class="skill">
            <img src="assets/jetbrains.webp" alt="Jetbrains"/>
            <p>Jetbrains</p>
          </div>
          <div class="skill">
            <img src="assets/figma.png" alt="Figma"/>
            <p>Figma</p>
          </div>
          <div class="skill">
            <img src="assets/gcp.png" alt="Google Cloud Platform"/>
            <p>Google Cloud Platform</p>
          </div>
          <div class="skill">
            <img src="assets/sentry.svg" alt="Sentry"/>
            <p>Sentry</p>
          </div>
          <div class="skill">
            <img src="assets/jira.png" alt="Jira"/>
            <p>Jira</p>
          </div>
          <div class="skill">
            <img src="assets/stripe.png" alt="Stripe"/>
            <p>Stripe</p>
          </div>
          <div class="skill">
            <img src="assets/loops.jpeg" alt="Loops"/>
            <p>Loops</p>
          </div>
          <div class="skill">
            <img src="assets/notion.png" alt="Notion"/>
            <p>Notion</p>
          </div>
          <div class="skill">
            <img src="assets/swift.svg" alt="Swift"/>
            <p>Swift</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-1 tile tile--location">
    <div class="map">
      <div class="map__location">
        <ion-icon name="location-outline"></ion-icon>
        <p>Currently in <b>Paris 🇫🇷</b></p>
      </div>
      <div class="map__next">
        <ion-icon name="arrow-forward-outline"></ion-icon>
        <p>Next: <b>Bali 🇮🇩</b></p>
      </div>
      <div class="map__image">
        <img src="assets/paris.png" alt="Paris, France"/>
      </div>
      <div class="pin"></div>
      <div class="pin__shadow"></div>
    </div>
  </div>
</div>

<section id="career">
  <div class="title">
    <ion-icon name="briefcase-outline"></ion-icon>
    <h2>Career</h2>
  </div>

  <div class="row">
    <div class="row-3 tile tile--balthasart">
      <div class="tile__content">
        <div>
          <h3>Chief Technology Officer &#64; balthasart</h3>
          <div class="time">
            <div class="online"></div>
            Since 2 years
          </div>
          <p>
            balthasart is a platform that empowers artists to create, promote and sell their work. As a CTO, my goal
            is to ensure we provide the best product to artists in order to achieve their goal of becoming professional
            and recognized artists within the art community.
          </p>
          <p>
            I have been in charge of developing the product for 2 years now, with a strong focus on user experience,
            ensuring alignment between product and business goals.
          </p>
        </div>
        <a href="https://balthasart.com" target="_blank" class="btn">
          Discover balthasart
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
      </div>
      <div class="logo">
        <img src="assets/balthasart.jpeg" alt="balthasart"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row-3 tile tile--rise-up">
      <div class="tile__content">
        <div>
          <h3>Full-Stack Software Engineer &#64; Rise Up</h3>
          <div class="time">08/2022 - 08/2023</div>
          <p>
            Rise Up provides a best-in-class Learning Management System to companies and learning platforms. As
            Full-Stack Software Engineer, I was in charge of innovation projects, especially implementing AI-based
            features to enrich user experience.
          </p>
          <p>
            I also participated in the migration of the codebase from CodeIgniter to Symfony.
          </p>
        </div>
        <a href="https://www.riseup.ai/" target="_blank" class="btn">
          Discover Rise Up
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
      </div>
      <div class="logo">
        <img src="assets/rise-up.png" alt="Rise Up"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row-3 tile tile--wavestone">
      <div class="tile__content">
        <div>
          <h3>Security Software Engineer &#64; Wavestone</h3>
          <div class="time">08/2021 - 08/2022</div>
          <p>
            As a Security Software Engineer, I worked on cybersecurity topics and products for the largest clients
            of Wavestone, from banking to telecoms and industrials. With a strong focus on Identity And Access Management,
            I was able to lead several projects and manage our client relationships.
          </p>
        </div>
        <a href="https://www.wavestone.com/" target="_blank" class="btn">
          Discover Wavestone
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
      </div>
      <div class="logo">
        <img src="assets/wavestone.jpeg" alt="Wavestone"/>
      </div>
    </div>
  </div>
</section>

<section id="projects">
  <div class="title">
    <ion-icon name="laptop-outline"></ion-icon>
    <h2>Projects</h2>
  </div>

  <div class="row">
    <div class="row-2 tile tile--drive-league">
      <div class="tile__content">
        <h3>Drive League</h3>
        <div class="time">
          <div class="online online--soon"></div>
          <p>Coming soon</p>
        </div>

        <div class="building">
          <img src="assets/building.png" alt="Drive League"/>
        </div>
      </div>

    </div>
    <a class="row-1 tile tile--slotmate"
       href="https://slotmate.app"
       target="_blank"
    >
      <div class="tile__content">
        <div class="open">
          <ion-icon name="open-outline"></ion-icon>
        </div>
        <h3>Slotmate</h3>
        <div class="time">
          <div class="online"></div>
          <p>Online</p>
        </div>
        <div>
          <p>An app that allows you to get your friend's availability easily
            to book your next night out, trip or activity together!
          </p>
        </div>

        <div class="mockup">
          <img src="assets/slotmate.png" alt="Slotmate"/>
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <a class="row-15 tile tile--myfeedbacks"
       href="https://myfeedbacks.com"
       target="_blank"
    >
      <div class="tile__content">
        <div class="open">
          <ion-icon name="open-outline"></ion-icon>
        </div>
        <h3>MyFeedbacks</h3>
        <div class="time">
          <div class="online"></div>
          <p>Online</p>
        </div>
        <div>
          <p>Get valuable insights and feedback on your product, directly from your user base</p>
        </div>
        <div class="mockup">
          <img src="assets/myfeedbacks.png" alt="MyFeedbacks"/>
        </div>
      </div>
    </a>
    <a class="row-15 tile tile--rentilyio"
       href="https://rentily.io"
       target="_blank"
    >
      <div class="tile__content">
        <div class="open">
          <ion-icon name="open-outline"></ion-icon>
        </div>
        <h3>Rentily.io</h3>
        <div class="time">
          <div class="online"></div>
          <p>Online</p>
        </div>
        <div>
          <p>Manage your real estate portfolio and rental investments effortlessly</p>
        </div>
        <div class="mockup">
          <img src="assets/rentilyio.png" alt="Rentily.io"/>
        </div>
      </div>
    </a>
  </div>
</section>

<section id="passions">
  <div class="title">
    <ion-icon name="flash-outline"></ion-icon>
    <h2>Passions</h2>
  </div>
  <div class="row">
    <div class="row-2 tile tile--surf">
      <img alt="Surf" src="assets/surf.jpg"/>
      <div class="tile--surf-overlay"></div>
      <div class="tile--surf-content">
        <div>
          <h3>Surfing is my passion</h3>
          <p>
            Having been passionate about surfing for 10 years now, I am sharing my passion on social media.
            Riding waves in Bretagne, Indonesia and French Landes.
          </p>
        </div>

        <a class="btn btn--secondary"
           href="https://www.instagram.com/surfinfos/"
           target="_blank"
        >
          <ion-icon name="logo-instagram"></ion-icon>
          Check Surf Infos
        </a>
      </div>
    </div>
    <a class="row-1 tile tile--strava"
       href="https://www.strava.com/athletes/103880712"
       target="_blank"
    >
      <div class="stat">
        <p class="value">1:30:04</p>
        <p class="label">Half-marathon</p>
      </div>
      <div class="stat">
        <p class="value">4:05:25</p>
        <p class="label">Marathon</p>
      </div>
      <div class="logo">
        <img alt="Strava" src="assets/strava.png"/>
      </div>
    </a>
  </div>
  <div class="row">
    <a class="row-15 tile tile--motorsport"
       href="https://www.youtube.com/watch?v=dUfRF6fKdWo&pp=ygULZ2FzbHkgbW9uemE%3D"
       target="_blank"
    >
      <div>
        <h3>Motorsport</h3>
        <p>
          Following daily Formula One, MotoGP and other series, I am passionate about the adrenaline of motorsport.
        </p>
        <div class="car">
          <img src="assets/alphatauri.webp" alt="Pierre Gasly's winning Alpha Tauri"/>
        </div>
      </div>
    </a>
    <div class="row-15 tile tile--music">
      <div class="tile__content">
        <div>
          <h3>Music</h3>
          <p>
            Spotify Wrapped nerd. Electronic music. Indy. Pop-rock. Synthwave.
          </p>
          <p class="tags">
            #Madeon #PorterRobinson #OwlCity #The1975 #Coldplay #JonBellion #MacMiller #Valley #OhWonder
            #TheMidnight #AbbyHolliday #TheJapaneseHouse #NovoAmor #Phoenix
          </p>
        </div>
        <a class="btn"
           href="https://open.spotify.com/playlist/5KKRJFnUf7eQWmClLXEDJg?si=UWXgZdiaR4ekjHdyUb3PtA"
           target="_blank"
        >
          <ion-icon name="headset-outline"></ion-icon>
          Give it a try!
        </a>
      </div>
    </div>
  </div>
</section>

<section id="get-in-touch">
  <div class="title">
    <ion-icon name="paper-plane-outline"></ion-icon>
    <h2>Get in touch</h2>
  </div>
  <div class="row">
    <div class="row-3 tile tile--socials">
      <div class="socials">
        <a class="social" href="https://github.com/Lyro1" target="_blank">
          <ion-icon name="logo-github"></ion-icon>
        </a>
        <a class="social" href="https://x.com/louist_dupont" target="_blank">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a class="social" href="https://www.instagram.com/louist.dupont/" target="_blank">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a class="social" href="https://stackoverflow.com/users/7804279/louis-lyro-dupont" target="_blank">
          <ion-icon name="logo-stackoverflow"></ion-icon>
        </a>
        <a class="social" href="https://www.linkedin.com/in/ltdupont/" target="_blank">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a class="social" href="https://cal.com/louisdupont" target="_blank">
          <ion-icon name="call-outline"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</section>
