
<div class="row">
  <div class="about-me tile row-2">
    <h3>Passionate software engineer</h3>
    <p>
      I have been building web apps, product and digital experiences for nearly 15 years now, with a strong belief in
      quality, fun and delightful experiences.
    </p>
  </div>
  <a class="row-1 tile tile--strava"
     href="https://www.strava.com/athletes/103880712"
     target="_blank"
  >
    <div class="stat">
      <p class="value">1:30:04</p>
      <p class="label">Half-marathon</p>
    </div>
    <div class="stat">
      <p class="value">4:05:25</p>
      <p class="label">Marathon</p>
    </div>
    <div class="logo">
      <img src="assets/strava.png" alt="Strava"/>
    </div>
  </a>
</div>

<div class="row">
  <div class="row-1 tile">

  </div>
  <div class="row-2 tile">

  </div>
</div>

