<div class="career">

  <div class="step">
    <div class="left">
      <div class="circle">
        <img alt="balthasart" src="assets/dev.png"/>
      </div>
      <div class="line"></div>
    </div>
    <div class="right">
      <h3>CTO</h3>
      <p class="company"><a href="https://balthasart.com" target="_blank">balthasart</a></p>
      <p class="dates">02/2023 - Now</p>

      <div class="description">
        <p>
          Building the best artist-focused product possible.
        </p>
        <ul>
          <li><b>Product</b>: Building the product with Symfony and Angular.</li>
          <li><b>Business</b>: Working on business strategy to tackle our challenges to be the best artist platform.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="step">
    <div class="left">
      <div class="circle">
        <img alt="Rise Up" src="assets/dev.png"/>
      </div>
      <div class="line"></div>
    </div>
    <div class="right">
      <h3>Full-Stack Software Engineer</h3>
      <p class="company"><a href="https://riseup.api" target="_blank">Rise Up</a></p>
      <p class="dates">10/2022 - 08/2023</p>

      <div class="description">
        <p>
          Full-stack Software Engineer, working on the migration from CodeIgniter
          to Symfony.
        </p>
        <ul>
          <li><b>Symfony/Vue.js</b>: Migration of legacy CodeIgniter pages to Symfony/Vue.js stack</li>
          <li><b>Design thinking</b>: Optimisation of UX & UI of the platform</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="step">
    <div class="left">
      <div class="circle">
        <img alt="Wavestone" src="assets/dev.png"/>
      </div>
      <div class="line"></div>
    </div>
    <div class="right">
      <h3>Software Engineer Consultant</h3>
      <p class="company"><a href="https://wavestone.com" target="_blank">Wavestone</a></p>
      <p class="dates">09/2021 - 10/2022</p>

      <div class="description">
        <p>
          Consultant software engineer specializing in cyber
          security issues, with a particular focus on IAM solutions.
        </p>
        <ul>
          <li><b>IAM process consulting</b>: Implementation of IAM security processes (access request, certification,
            business profiles)
          </li>
          <li><b>Scripting</b>: Python scripting to automate REST API tests</li>
          <li><b>DevOps</b>: Jira, Gitlab CI/CD</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="step">
    <div class="left">
      <div class="circle">
        <img alt="Safran" src="assets/dev.png"/>
      </div>
      <div class="line"></div>
    </div>
    <div class="right">
      <h3>Software Engineer</h3>
      <p class="company"><a href="https://www.safran-group.com" target="_blank">Safran</a></p>
      <p class="dates">09/2018 - 09/2021</p>

      <div class="description">
        <p>
          Software engineer specialized in cybersecurity products and issues.
        </p>
        <ul>
          <li><b>Front-end Development</b>: UX Design using HTML, CSS to facilitate API solution usages</li>
          <li><b>Threat Intelligence</b>: Selection and deployment of a threat intelligence solution</li>
          <li><b>Scripting</b>: Python, PowerShell scripting to automate tests and to perform recurring actions</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="step">
    <div class="left">
      <div class="circle">
        <img alt="MagicRecycle.com" src="assets/dev.png"/>
      </div>
    </div>
    <div class="right">
      <h3>Web Developer</h3>
      <p class="company"><a href="https://magicrecycle.com" target="_blank">MagicRecycle.com</a></p>
      <p class="dates">09/2018 - 09/2021</p>

      <div class="description">
        <p>
          Software engineer specialized in cybersecurity products and issues.
        </p>
        <ul>
          <li><b>Front-end and back-end development</b>: Angular & UX/UI design of the stock management solution</li>
          <li><b>Android development</b>: Development of an automated testing platform for android devices</li>
          <li><b>DevOps</b>: Github CI/CD to manage versioning</li>
        </ul>
      </div>
    </div>
  </div>
</div>
