
.career {
  width: 60%;
  margin: 20vh auto 0;
  display: flex;
  flex-direction: column;

  .step {
    display: flex;

    .left {
      display: flex;
      flex-direction: column;

      .circle {
        border: 1px solid rgb(19, 99, 223);
        box-shadow: rgba(19, 99, 223, 0.3) 0 4px 20px 0;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 60%;
        }
      }

      .line {
        flex: 1 1 auto;
        width: 0;
        border-right: 1px dashed rgb(19, 99, 223);
        margin: 0 auto;
      }
    }

    .right {
      margin: 0 0 26px 16px;
      display: flex;
      flex-direction: column;

      h3, p {
        margin: 0;
      }

      .company {
        a {
          text-decoration: none;
          color: #888;
        }

        a:hover {
          text-decoration: underline dashed;
        }
      }

      .description {
        margin: 12px 0;
        font-size: 0.8rem;

        ul li {
          margin: 6px 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .career {
    width: 80%;

    .step {
      .right {
        .description {
          ul {
            padding-inline-start: 16px !important;
          }
        }
      }
    }
  }
}
