<div class="reminder-projects">

  <h1>Scholarship</h1>

  <div class="separator"></div>

  <div class="reminder-item experience">
    <div class="checkbox checkbox-experience"></div>
    <div class="info">
      <h2>Stoodent</h2>
      <p class="date">2019 - Today</p>
      <div class="status under-development">
        Under development
      </div>
      <p>
        With two good friends, we think it was about time students and teachers get a good service
        that could help them focus on what matter: learning. And to do that, we decided to develop
        a school management app.
      </p>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/computer.png"/> Done with Angular & Symfony</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/chart.png"/> Store and present grades</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/planning.png"/> Manage the school planning</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/privacy.png"/> Secure data storage to comply with European laws</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="reminder-item experience">
    <div class="checkbox checkbox-experience"></div>
    <div class="info">
      <h2>Surftide</h2>
      <p class="date">June 2020 - Today</p>
      <div class="status under-development">
        Under development
      </div>
      <p>
        When I went surfing with a friend, I had the idea to create a small app that could just tell me
        whenever the meteorological conditions where good for a 2-hours session. To do so, I decided to
        learn SwiftUI, and since I made the first prototype for myself, I decided to add more and more features.
        I hope to be able to release it on the App Store pretty soon.
      </p>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/iphone.png"/> Done with SwiftUI</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/api.png"/> Created an API from scratch with Symfony</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="reminder-item experience">
    <div class="checkbox checkbox-experience"></div>
    <div class="info">
      <h2>COVID-19 Test Centers</h2>
      <p class="date">March 2020</p>
      <a class="status available" href="https://covid-19.stoodent.fr" target="_blank" >
        Available here
      </a>
      <p>
        During the lockdown in France, I had the idea to reference as much COVID-19 test centers as possible
        and to share those informations with Apple and Google so that they could reference it in their map apps.
        My friend <a class="user-link" href="https://romainbourre.fr" target="_blank">@Romain</a> helped me to
        develop a usable website in a few hours.
      </p>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/computer.png"/> Done with Angular</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/map.png"/> Store all test centers data</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/bar-chart.png"/> Present the data in a shareable format for both Apple and Google</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="reminder-item experience">
    <div class="checkbox checkbox-experience"></div>
    <div class="info">
      <h2>PLERC</h2>
      <p class="date">2019</p>
      <a class="status available" href="https://github.com/Lyro1/PLERC" target="_blank">
        Available here
      </a>
      <p>
        PLERC is a project that shows various implementation of pathfinding algorithms in real world maps.
        It was done with a few classmates as part of an algorithmic course of EPITA.
      </p>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/iphone.png"/> Done with Angular and Python</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/api.png"/> Created an API from scratch with Django</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/bar-chart.png"/> Analyse simulated traffic data for better performances and accuracy</p>
      </div>
    </div>
  </div>

</div>
