<div class="app-page" [ngClass]="{'app-page-opened': appInfos}">

  <div class="content" *ngIf="appInfos">
    <div class="back" (click)="close()">
      <i class="f7-icons">chevron_left</i>
    </div>

    <div class="main-infos">
      <div class="logo">
        <img src="assets/{{appInfos.logo}}" alt="{{appInfos.name}}"/>
      </div>
      <div class="texts">
        <div class="top">
          <h1>{{appInfos.name}}</h1>
          <p>{{appInfos.domain}}</p>
        </div>

        <a class="get" *ngIf="appInfos.link" href="{{appInfos.link}}" target="_blank">GET</a>
        <p class="unavailable" *ngIf="!appInfos.link">UNAVAILABLE</p>
      </div>
    </div>

    <div class="indicators">
      <div></div>
      <div class="indicator">
        <p class="title">DEVELOPER</p>
        <p class="value">
          <i class="f7-icons">person_3_fill</i>
        </p>
        <p class="label">{{appInfos.developer}}</p>
      </div>

      <div class="separator"></div>

      <div class="indicator">
        <p class="title">STATUS</p>
        <p class="value">
          <i class="f7-icons">{{getStatusIcon(appInfos.status)}}</i>
        </p>
        <p class="label">{{appInfos.status}}</p>
      </div>

      <div class="separator"></div>

      <div class="indicator">
        <p class="title">LANGUAGE</p>
        <p class="value">
          {{appInfos.language[0]}}
        </p>
        <p class="label" *ngIf="appInfos.language.length > 1">+{{appInfos.language.length - 1}} more</p>
      </div>
      <div></div>
    </div>

    <div class="images">
      <div class="image" *ngFor="let image of appInfos.screenshots"
        (click)="expandImage(image)">
        <img src="assets/{{image}}" alt="{{appInfos.name}}"/>
      </div>
    </div>

    <div class="devices">
      <i class="f7-icons" *ngFor="let device of appInfos.devices">
        {{getDeviceIcon(device)}}
      </i>
    </div>

    <div class="description">
      <p [innerHTML]="appInfos.description"></p>
    </div>

    <div class="technologies">
      <div class="technology" *ngFor="let technology of appInfos.technologies">
        <img src="assets/{{technology.logo}}" alt="{{technology.name}}"/>
        <h3>{{technology.name}}</h3>
        <p>{{technology.description}}</p>
      </div>
    </div>
  </div>

  <div class="image-expanded"
       [ngClass]="{'image-expanded-open': expandedImage}"
       *ngIf="appInfos && appInfos.screenshots && appInfos.screenshots.length">
    <div class="back" (click)="expandedImage = null">
      <i class="f7-icons">chevron_left</i>
    </div>
    <img src="assets/{{expandedImage}}"
         alt="{{appInfos.name}}"
         *ngIf="expandedImage"/>
  </div>

</div>
