
<div class="topbar">
  <div class="left">
    <img class="apple-logo" src="assets/apple-logo-white.png" (click)="openApple = true"/>
    <b>Lyro</b>
  </div>
  <div class="right">
    <p class="date">{{currentDate}}</p>
  </div>
</div>

<div class="menu-window" *ngIf="openApple">
  <p (click)="aboutTheMac = true; openApple = false;">About the Mac</p>
  <div class="separator"></div>
  <p [routerLink]="['/login']">Logout...</p>
  <p [routerLink]="['/']">Restart...</p>
</div>

<app-about-the-mac *ngIf="aboutTheMac" (closed)="onAboutTheMacClosed()"></app-about-the-mac>
<app-contacts *ngIf="contacts" (closed)="onContactsClosed()"></app-contacts>
<app-reminder-page *ngIf="reminder" (closed)="onReminderClosed()"></app-reminder-page>
<app-safari *ngIf="safari" (closed)="onSafariClosed()"></app-safari>
<app-terminal *ngIf="terminal" (closed)="onTerminalClosed()"></app-terminal>

<div class="dock">
  <div class="dock-icon">
    <img src="assets/launchpad.png">
  </div>
  <div class="dock-icon">
    <img class="contacts-icon" src="assets/contacts.png" (click)="openContacts()">
    <div class="dock-icon-indicator app-open-contacts" [ngClass]="{'dock-icon-indicator-open': readyContacts}"></div>
  </div>
  <div class="dock-icon">
    <img src="assets/calendar.png">
    <div class="dock-icon-indicator app-open-calendar" [ngClass]="{'dock-icon-indicator-open': readyCalendar}"></div>
  </div>
  <div class="dock-icon reminder">
    <img class="reminder-icon" src="assets/reminders.png" (click)="openReminder()">
    <div class="dock-icon-indicator app-open-reminder" [ngClass]="{'dock-icon-indicator-open': readyReminder}"></div>
  </div>
  <div class="dock-icon">
    <img class="safari-icon" src="assets/safari.png" (click)="openSafari()">
    <div class="dock-icon-indicator app-open-safari" [ngClass]="{'dock-icon-indicator-open': readySafari}"></div>
  </div>
  <div class="dock-icon">
    <img src="assets/music.png">
    <div class="dock-icon-indicator app-open-music" [ngClass]="{'dock-icon-indicator-open': readyMusic}"></div>
  </div>
  <div class="dock-icon">
    <img class="terminal-icon" src="assets/terminal.png" (click)="openTerminal()">
    <div class="dock-icon-indicator app-open-terminal" [ngClass]="{'dock-icon-indicator-open': readyTerminal}"></div>
  </div>
</div>
