<div class="reminder-scolarship">

  <h1>Scholarship</h1>

  <div class="separator"></div>

  <div class="reminder-item experience">
    <div class="checkbox"></div>
    <div class="info">
      <p class="date">2018 - Today</p>
      <img class="company-logo" src="assets/epita.jpg" alt="EPITA"/>
      <p>Engineering apprenticeship in the cyber-security major.</p>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/computer.png"/> UNIX & C/C++ development</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/virus.png"/> Malware analysis / Threat Intelligence</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/manager.png"/> Management</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/projects.png"/> Algorithms / Mathematics</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="reminder-item experience">
    <div class="checkbox"></div>
    <div class="info">
      <p class="date">2013 - 2016</p>
      <h2>Lycée La Bruyère (Versailles)</h2>
      <p>Scientific Baccalaureat</p>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/projects.png"/> Algorithms / Mathematics</p>
      </div>
      <div class="reminder-item">
        <div class="checkbox"></div>
        <p><img src="assets/computer.png"/> IT Specialization</p>
      </div>
    </div>
  </div>

</div>
