
<div class="window safari">
  <div class="window-header">
    <div class="window-header-buttons">
      <div class="window-header-button close" (click)="closeWindow()"></div>
      <div class="window-header-button reduce"></div>
      <div class="window-header-button disable"></div>
    </div>

    <div class="safari-header">
      <div class="icons">
        <img class="chevron" src="assets/SF%20Symbols/chevron.left.png"/>
        <img class="chevron" src="assets/SF%20Symbols/chevron.right.png"/>
      </div>

      <div class="icons">
        <img src="assets/SF%20Symbols/checkmark.shield.fill.png"/>
        <div class="search-bar">
          <img src="assets/SF%20Symbols/magnifyingglass.png"/>
          <p>Search or enter website name</p>
        </div>
      </div>

      <div class="icons">
        <img src="assets/SF%20Symbols/square.and.arrow.up.png"/>
        <img src="assets/SF%20Symbols/plus.png"/>
        <img src="assets/SF%20Symbols/square.on.square.png"/>
      </div>
    </div>


  </div>

  <div class="safari-content">
    <div class="over">
      <div class="cover-content">
        <h2>Favorites</h2>

        <div class="favorites">
          <div class="favorite">
            <a href="https://github.com/Lyro1" target="_blank">
              <img src="assets/github.png"/>
            </a>
            <p>Github</p>
          </div>
          <div class="favorite">
            <a href="https://gitlab.com/lyro1" target="_blank">
              <img src="assets/gitlab.png"/>
            </a>
            <p>Gitlab</p>
          </div>
          <div class="favorite">
            <a href="https://www.linkedin.com/in/louis-thimothee-dupont/" target="_blank">
              <img src="assets/linkedin.png"/>
            </a>
            <p>LinkedIn</p>
          </div>
        </div>

        <div class="privacy">
          <h2>Privacy</h2>
          <div class="blured">
            <p>Don't hesitate to visit my social links!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
