
<div class="window safari">
  <div class="window-header">
    <div class="window-header-buttons">
      <div class="window-header-button close" (click)="closeWindow()"></div>
      <div class="window-header-button reduce"></div>
      <div class="window-header-button disable"></div>
    </div>

    <div class="safari-header">
      <div class="icons">
        <i class="f7-icons">chevron_left</i>
        <i class="f7-icons">chevron_right</i>
      </div>

      <div class="icons">
        <i class="f7-icons">checkmark_shield_fill</i>
        <div class="search-bar">
          <i class="f7-icons">search</i>
          <p>Search or enter website name</p>
        </div>
      </div>

      <div class="icons">
        <i class="f7-icons">square_arrow_up</i>
        <i class="f7-icons">plus</i>
        <i class="f7-icons">square_on_square</i>
      </div>
    </div>


  </div>

  <div class="safari-content">
    <div class="over">
      <div class="cover-content">
        <h2>Favorites</h2>

        <div class="favorites">
          <div class="favorite">
            <a href="https://github.com/Lyro1" target="_blank">
              <img src="assets/github.png" alt="GitHub"/>
            </a>
            <p>Github</p>
          </div>
          <div class="favorite">
            <a href="https://gitlab.com/lyro1" target="_blank">
              <img src="assets/gitlab.png" alt="GitLab"/>
            </a>
            <p>Gitlab</p>
          </div>
          <div class="favorite">
            <a href="https://www.linkedin.com/in/louis-thimothee-dupont/" target="_blank">
              <img src="assets/linkedin.png" alt="LinkedIn"/>
            </a>
            <p>LinkedIn</p>
          </div>
          <div class="favorite">
            <a href="https://app.assessfirst.com/_/profile/1yvwzagh-louis-dupont" target="_blank">
              <img src="assets/assess-first.png" alt="Assess First"/>
            </a>
            <p>AssessFirst</p>
          </div>
        </div>

        <div class="privacy">
          <h2>Privacy</h2>
          <div class="blured">
            <p>Don't hesitate to visit my social links!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
