<div class="launchpad">

  <div class="close" (click)="closeWindow()"></div>

  <div class="app-list">
    <div class="app" (click)="openContacts.emit()">
      <img src="assets/contacts.png"/>
      <p>Contacts</p>
    </div>
    <div class="app" (click)="openReminder.emit()">
      <img src="assets/reminders.png"/>
      <p>Reminder</p>
    </div>
    <div class="app" (click)="openSafari.emit()">
      <img src="assets/safari.png"/>
      <p>Safari</p>
    </div>
    <div class="app" (click)="openTerminal.emit()">
      <img src="assets/terminal.png"/>
      <p>Terminal</p>
    </div>
  </div>

</div>
