<div class="header">
  <h2>Explore</h2>
</div>

<div class="main-page" (click)="openApp('Stoodent')">
  <div class="left">
    <h3>My current focus</h3>
    <h2>A smarter way to manage your school</h2>
    <p>Discover Stoodent, the futur of school management. A project that is still under development.</p>
  </div>

  <div class="right">
    <img src="assets/school-illustration.svg" alt="Stoodent"/>
  </div>

</div>

<div class="pinned">
  <div class="pinned-app">
    <div class="left">
      <h3>Improve your product</h3>
      <h2>MyFeedback</h2>
      <p>Get feature suggestions and improvements directly from your users</p>
    </div>
    <div class="right">
      <div class="image">
        <img src="assets/feedback.svg" alt="MyFeedback"/>
      </div>
    </div>
  </div>
  <div class="pinned-app" (click)="openApp('Maltopia')">
    <div class="left">
      <h3>A complete malware zoo</h3>
      <h2>Maltopia</h2>
      <p>Navigate in hundreds of thousands of malwares, and learn about their behaviour</p>
    </div>
    <div class="right">
      <div class="image">
        <img src="assets/zoo.jpg" alt="Maltopia"/>
      </div>
    </div>
  </div>
</div>

<div class="all">
  <h2>All my apps</h2>

  <div class="apps">
    <div class="app" *ngFor="let app of apps">
      <img src="assets/{{app.logo}}" alt="{{app.name}}"/>
      <div class="text">
        <h3>{{app.name}}</h3>
        <p>{{app.domain}}</p>
      </div>
      <div class="discover" (click)="openApp(app.name)">
        <p>Discover</p>
      </div>
    </div>
  </div>
</div>
