<div class="window contacts">
  <div class="window-header">
    <div class="window-header-buttons">
      <div class="window-header-button close" (click)="closeWindow()"></div>
      <div class="window-header-button reduce"></div>
      <div class="window-header-button disable"></div>
    </div>
  </div>

  <div class="left">
    <div class="item">
      <p>Contacts (all)</p>
    </div>
  </div>

  <div class="right">

    <div class="contact">

      <div class="info">
        <div class="left">
          <img class="profile-picture" src="assets/me.png">
        </div>
        <div class="right">
          <h2>Louis Dupont</h2>
          <p class="subtitle">IT Engineer Apprentice</p>
        </div>
      </div>

      <div class="info">
        <div class="left">
          <p>Email</p>
        </div>
        <div class="right">
          <p><a href="mailto:contact@lyro.fr">contact@lyro.fr</a></p>
        </div>
      </div>

      <div class="separator"></div>

      <div class="info">
        <div class="left">
          <p>Age</p>
        </div>
        <div class="right">
          <p>22 years old</p>
        </div>
      </div>

      <div class="separator"></div>

      <div class="info">
        <div class="left">
          <p>Work</p>
        </div>
        <div class="right">
          <p>Safran SA</p>
          <p>Paris - France</p>
        </div>
      </div>

      <div class="separator"></div>

      <div class="info">
        <div class="left">
          <p>School</p>
        </div>
        <div class="right">
          <p>EPITA</p>
          <p>Paris - France</p>
        </div>
      </div>

      <div class="separator"></div>

      <div class="info">
        <div class="left">
          <p>Notes</p>
        </div>
        <div class="right">
          <p>Don't hesitate to send an email!</p>
        </div>
      </div>
    </div>

  </div>

</div>
