
.landing {
  width: 60%;
  margin: 10% auto 0;

  .name {
    display: flex;
    align-items: center;

    img {
      height: 3.5rem;
    }

    h1 {
      color: #ccc;
      font-size: 2rem;
    }
  }

  .description {
    color: #444;
    font-size: 4em;

    .riseup {
      background-color: #f3ec78;
      background-image: linear-gradient(45deg,#fb91a3,#ea6852,#ffa168);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }

    .balthasart {
      background: rgb(215,73,48);
      background: linear-gradient(90deg, rgba(215,73,48,1) 0%, rgba(239,136,118,1) 42%, rgba(233,166,154,1) 100%);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }
}

@media only screen and (max-width: 700px) {
  .landing {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  .landing {

    .name {
      img {
        height: 12vw;
      }

      h1 {
        font-size: 6vw;
      }
    }

    .description {
      font-size: 14vw;
    }
  }
}
