
.landing {
  padding-top: 10%;

  .name {
    display: flex;
    align-items: center;

    &__video {
      height: 4rem;
      width: 4rem;
      background-color: #eee;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        aspect-ratio: 1;
        width: 100%;
        height: 100%;
        transform: scale(0.8);
        transition: 0.1s ease-in-out;

        &:hover {
          transform: scale(0.9) rotate(-5deg);
        }
      }

    }

    h1 {
      color: #ccc;
      font-size: 2rem;
      margin-left: 16px;
    }
  }

  .description {
    color: #444;
    font-size: 4em;

    .balthasart {
      background: rgb(215, 73, 48);
      background: linear-gradient(90deg, rgba(215, 73, 48, 1) 0%, rgba(239, 136, 118, 1) 42%, rgba(233, 166, 154, 1) 100%);
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@media only screen and (max-width: 700px) {
  .landing {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  .landing {

    .name {
      img {
        height: 12vw;
      }

      h1 {
        font-size: 6vw;
      }
    }

    .description {
      font-size: 14vw;
    }
  }
}
