<div class="reminder-about-me">

  <h1>Hi, I'm Louis!</h1>

  <div class="separator"></div>

  <img class="memoji" src="assets/memoji.png"/>

  <p>
    <img src="assets/france.png"/>I am a 22 years old, french student focusing on IT Engineering studies
    at EPITA in Paris.</p>
  <p>
    <img src="assets/rocket.png"/>I am inspired by the dreamers, those who see outside the box, those
    who focus on their goals despite the establishments.
  </p>
  <p>My motto is this amazing line:</p>
  <p class="citation">"The people who are crazy enough to think they can change the world, are the ones who do."</p>

  <p>
    You can learn more about my job, my experiences and my projects by looking in the corresponding sections on
    the left.
  </p>

  <div class="separator"></div>

  <p>A few quick facts about me:</p>

  <div class="reminder-item">
    <div class="checkbox"></div>
    <p><img src="assets/piano.png"/> I am a huge music lover, mostly electronic and indy.</p>
  </div>
  <div class="reminder-item">
    <div class="checkbox"></div>
    <p><img src="assets/movie.png"/> I am a TV show nerd, binge-watching almost anything I can find.</p>
  </div>
  <div class="reminder-item">
    <div class="checkbox"></div>
    <p><img src="assets/surfer.png"/> I absolutely love to ride a few waves with friends.</p>
  </div>
</div>
