
.about-the-mac {
  position: absolute;
  width: 26vw;
  height: 15vw;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #20201d;
  color: white;

  .window-header {
    border-bottom: 0.08vw solid black;
  }

  .content {
    display: flex;

    img {
      width: 7vw;
      height: 7vw;
      margin-top: 2.5vw;
      margin-left: 2vw;
      border-radius: 50%;
      border: 0.3vw solid white;
    }

    .infos {
      width: 15vw;
      margin-top: 3vw;
      margin-left: 1.5vw;
      margin-right: 0.5vw;

      h2 {
        font-size: 1.3vw;
        margin: 0;
      }

      .subtitle {
        font-size: 0.6vw;
      }

      .references {
        margin-top: 0.8vw;
        font-size: 0.6vw;

        p {
          margin-bottom: 0.2vw;
        }

        a {
          color: white;
        }
      }
    }
  }

  .footer {
    color: #aaa;
    font-size: 0.5vw;
    text-align: center;
    margin-top: 1.8vw;
  }
}
