
<div class="window about-the-mac">
  <div class="window-header">
    <div class="window-header-buttons">
      <div class="window-header-button close" (click)="closeWindow()"></div>
      <div class="window-header-button reduce"></div>
      <div class="window-header-button disable"></div>
    </div>
  </div>

  <div class="content">
    <img src="assets/big-sur.jpg"/>
    <div class="infos">
      <h2><b>macOS</b> Big Sur</h2>
      <p class="subtitle">Version 1.0 mockup by Louis Dupont</p>

      <div class="references">
        <p>Made with Angular</p>
        <p>App icons from <a href="https://appletldposts.com/download-all-of-the-new-icons-in-macos-big-sur-here/" target="_blank">Ben Ward</a>.</p>
        <p>Read <a href="https://medium.com/futureproofd/the-design-of-macos-big-sur-fe9db098b651" target="_blank">this great article</a> from Lars Augustin.</p>
      </div>
    </div>
  </div>

  <p class="footer">Crafted with ❤️ by Louis Dupont | 2020</p>
</div>
