/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: 'Rubik', sans-serif;
  background: rgb(242, 243, 240);
  background-image: url('assets/noise.png');
  background-attachment: fixed;
  color: #444;
}
