/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: 'Rubik', sans-serif;
  background: rgb(242, 243, 240) url('assets/noise.png') fixed;
  color: #444;
  scroll-behavior: smooth;
}

body {
  width: 90vw;
  max-width: 718px;
  margin: 0 auto;
  padding-bottom: 10%;
}

.tile {
  background-color: #fff;
  padding: 16px;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: rgba(100, 100, 111, 0.1) 0 4px 16px 0;
  border: 3px solid transparent;
}

.row {
  display: flex;
  gap: 16px;
  margin: 16px 0;

  .row-1 {
    width: 33%;
    aspect-ratio: 1;
  }

  .row-15 {
    width: 50%;
    aspect-ratio: 1.5;
  }

  .row-2 {
    width: 66%;
    aspect-ratio: 2;
  }

  .row-3 {
    width: 100%;
    aspect-ratio: 3;
  }

  @media only screen and (max-width: 620px) {
    flex-direction: column;

    .row-1, .row-15, .row-2, .row-3 {
      width: 100%;
      aspect-ratio: auto;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: 42px;
  padding: 16px;
  border-radius: 21px;
  box-sizing: border-box;
  text-decoration: none;
  color: #444;
  border: 1.5px solid #444;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.1s ease-in-out;
  backdrop-filter: blur(8px);
  font-weight: 700;

  &:hover {
    transform: scale(1.04) rotate(-2.5deg);
  }

  &--secondary {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 1.5px solid #fff;
  }

  ion-icon {
    font-size: 18px;
  }
}

ion-icon {
  --ionicon-stroke-width: 52px;
}
