
<div class="projects-folder-bg" [ngClass]="{'projects-folder-bg-open': isOpen}"
     (click)="closeFolder()">
</div>

<div class="projects-folder" [ngClass]="{'projects-folder-open': isOpen}"
     (click)="expandFolder()">

  <h2 *ngIf="isOpen">Projects</h2>

  <div class="app-list">
    <div class="app">
      <img src="assets/stoodent.png"/>
      <p>Stoodent</p>
    </div>
    <div class="app">
      <img src="assets/digitab.png"/>
      <p>Digitab</p>
    </div>
    <div class="app">
      <img src="assets/maltopia.png"/>
      <p>Maltopia</p>
    </div>
  </div>

</div>

<p class="projects-folder-title" *ngIf="!isOpen">Projects</p>
