<nav class="menu">
  <ol>
    <li class="menu-item">
      <ion-icon name="briefcase-outline"></ion-icon>
      Career
    </li>
    <li class="menu-item">
      <ion-icon name="laptop-outline"></ion-icon>
      Projects
    </li>
    <li class="menu-item">
      <ion-icon name="flash-outline"></ion-icon>
      Sports
    </li>
    <a class="menu-item"
       href="https://cal.com/louisdupont"
    >
      <ion-icon name="paper-plane-outline"></ion-icon>
      <span>Get in touch</span>
    </a>
  </ol>
</nav>
