
.menu {
  position: fixed;
  bottom: 32px;
  left: 50%;
  height: 52px;
  border-radius: 26px;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(230, 230, 230);
  box-shadow: rgba(100, 100, 111, 0.1) 0 8px 28px 0;

  ol {
    height: 44px;
    display: flex;
    gap: 8px;
    justify-content: left;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    margin: 4px;

    .menu-item {
      box-sizing: border-box;
      height: 44px;
      padding: 0 16px;
      border-radius: 22px;
      text-decoration: none;
      color: #888;
      font-size: 0.9rem;
      transition: 0.1s;
      line-height: 44px;

      &:hover {
        color: #444;
        background-color: rgba(220, 220, 220, 0.3);
        cursor: pointer;
      }

      &:active {
        transform: scale(0.92);
      }
    }

    .menu-item-focus {
      background-color: rgb(19, 99, 223);
      box-shadow: rgba(19, 99, 223, 0.3) 0 4px 20px 0;
      transition: 0.3s;
      color: white;

      &:hover {
        color: #444;
        background-color: rgb(19, 99, 223);
        cursor: pointer;
      }
    }

    .menu-item-focus:hover {
      color: white;
    }
  }
}

@media only screen and (max-width: 700px) {
  .menu {
    width: 80%;
  }
}
