
.menu {
  width: 60%;
  margin: 0 auto;

  ol {
    display: flex;
    list-style: none;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0;

    .menu-item {
      padding: 8px 16px;
      margin: 0 28px 0 0;
      margin-bottom: 16px;
      border-radius: 20px;
      text-decoration: none;
      color: #888;
      font-size: 0.9rem;
      transition: 0.1s;

      &:hover {
        color: #444;
        background-color: #EEE;
        cursor: pointer;
      }

      &:active {
        transform: scale(0.92);
      }
    }

    .menu-item-focus {
      background-color: rgb(19, 99, 223);
      box-shadow: rgba(19, 99, 223, 0.3) 0 4px 20px 0;
      transition: 0.3s;
      color: white;

      &:hover {
        color: #444;
        background-color: rgb(19, 99, 223);
        cursor: pointer;
      }
    }

    .menu-item-focus:hover {
      color: white;
    }
  }
}

@media only screen and (max-width: 700px) {
  .menu {
    width: 80%;
  }
}
