<nav class="menu">
  <ol>
    <li class="menu-item">
      <ion-icon name="briefcase-outline"></ion-icon>
      <span>Career</span>
    </li>
    <li class="menu-item">
      <ion-icon name="laptop-outline"></ion-icon>
      <span>Projects</span>
    </li>
    <li class="menu-item">
      <ion-icon name="flash-outline"></ion-icon>
      <span>Passions</span>
    </li>
    <li class="menu-item">
      <ion-icon name="paper-plane-outline"></ion-icon>
      <span>Get in touch</span>
    </li>
  </ol>
</nav>
