.terminal {
  position: absolute;
  width: 40vw;
  max-width: 550px;
  height: 25vw;
  max-height: 400px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255,255,255,0.82);
  color: white;

  .window-header {

    p {
      color: black;
      width: calc(100% - 5vw);
      text-align: center;
      line-height: 1.8vw;
      font-size: 0.7vw;
    }
  }

  .terminal-content {
    width: 100%;
    height: calc(100% - 26px);
    color: white;
    font-size: 0.7vw;
    background-color: black;
    font-family: Monaco, "Lucida Console", monospace;
    padding-top: 0.2vw;

    p {
      margin-left: 0.4vw;

      .preview {
        color: #2fb125;
        margin-right: 0.4vw;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .terminal {

    .window-header {

      p {
        font-size: 13px;
      }
    }

    .terminal-content {

      p {
        margin-left: 0.4vw;
        font-size: 11px;
      }
    }
  }
}
