<div class="window terminal"  [style.z-index]="zindex">
  <div class="window-header">
    <div class="window-header-buttons">
      <div class="window-header-button close" (click)="closeWindow()"></div>
      <div class="window-header-button reduce"></div>
      <div class="window-header-button disable"></div>
    </div>

    <p>louis@MacBook-Pro</p>
  </div>

  <div class="terminal-content">
    <p><span class="preview">[louis@MacBook-Pro] $</span>cd technologies</p>
    <p><span class="preview">[louis@MacBook-Pro] $</span>tree</p>
    <p>.</p>
    <p>|--- Software</p>
    <p>|&nbsp;&nbsp;&nbsp;&nbsp;|--- Python</p>
    <p>|&nbsp;&nbsp;&nbsp;&nbsp;|--- C/C++</p>
    <p>|&nbsp;&nbsp;&nbsp;&nbsp;|--- C#</p>
    <p>|&nbsp;&nbsp;&nbsp;&nbsp;|--- Go</p>
    <p>|--- Web</p>
    <p>|&nbsp;&nbsp;&nbsp;&nbsp;|--- HTML & CSS</p>
    <p>|&nbsp;&nbsp;&nbsp;&nbsp;|--- Javascript</p>
    <p>|&nbsp;&nbsp;&nbsp;&nbsp;|--- Symfony</p>
    <p>|&nbsp;&nbsp;&nbsp;&nbsp;|--- Angular</p>
    <p>|&nbsp;&nbsp;&nbsp;&nbsp;|--- jQuery</p>
    <p>|--- Mobile</p>
    <p>|&nbsp;&nbsp;&nbsp;&nbsp;|--- Swift</p>
    <p><span class="preview">[louis@MacBook-Pro] $</span></p>
  </div>

</div>
